// INFO: main-colors
$color-purple: #6c63ff; // 5c27fe
$color-purple-background: rgba(108, 99, 255, 0.1);
$color-white: #fff;
$color-black: #111;
$color-yellow: #ffc03d;
$color-orange: #ee5544;
$color-grey: #5a6170;
$color-light-grey: #6e6f6a;
$color-red: #ee4540;
$color-background-orange: rgba(238, 85, 68, 0.1);
$color-green: #31c48d;
$color-background-green: rgba(49, 196, 141, 0.1);
$color-dark-blue: #0d2750;

// INFO: Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$mainFontSize: 17px;
$mainFontColor: #101010;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// INFO: border config
$border-radius: 11px;

// INFO:Size

$toggle-size: 30px;

// INFO: display width
$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// INFO: body
$bodyBackground: #eff2f9; // #eff1f3
