.login-content {
  width: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container-buttons {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
